body {
    background: yellowgreen;
}

.app-container {
    border: 1px solid tomato;
}

.card-view {
    width: 18rem;
}

.img-view {
    margin-left: auto;
    margin-right: auto;
    width: 100px;
}